/* Start::opacity */
.op-1-1 {
    opacity: 1;
}

.op-0 {
    opacity: 0;
}

.op-03 {
    opacity: 0.03;
}

.op-04 {
    opacity: 0.04;
}

.op-05 {
    opacity: 0.05;
}

.op-06 {
    opacity: 0.06;
}

.op-07 {
    opacity: 0.07;
}

.op-08 {
    opacity: 0.08;
}

.op-1 {
    opacity: 0.1;
}

.op-15 {
    opacity: 0.15;
}

.op-2 {
    opacity: 0.2;
}

.op-3 {
    opacity: 0.3;
}

.op-4 {
    opacity: 0.4;
}

.op-5 {
    opacity: 0.5;
}

.op-6 {
    opacity: 0.6;
}

.op-7 {
    opacity: 0.7;
}

.op-8 {
    opacity: 0.8;
}

.op-9 {
    opacity: 0.9;
}

/* End::opacity */