// /* Start:: Padding */
@media (min-width: 576px) {
    .pb-sm-9, .py-sm-9 {
        padding-bottom: 6rem !important;
    }
    .pt-sm-16, .py-sm-16 {
        padding-top: 16rem !important;
    }
    .pt-sm-10, .py-sm-10 {
        padding-top: 8rem !important;
    }
    .pt-sm-12, .py-sm-12 {
        padding-top: 12rem !important;
    }
    .pt-sm-10p, .py-sm-10p {
        padding-top: 10rem !important;
    }
}
// /* End:: Padding */