/* Start:: Cookies */
.accept-cookies {
  position: fixed;
  z-index: 99;
  width: 100%;
  inset-block-end: 0px;
  background-color: #191919;
  padding: 30px 20px;
  border: 1px solid #191919;
  box-shadow: 0 8px 20px 0 $black-3;
  text-align: start;
  display: block;
  display: none;
  margin: 0 auto;
  color: $white;
  &::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 10px;
    inset-inline-start: 10px;
    background-image: url(../images/photos/15.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.16;
    z-index: -1;
}
}
/* End:: Cookies */