/* Start:: Header */
.main-header {
  background-color: transparent;

  .nav-link {
    transition: all ease 0.2s;
  }
}

.desktop-logo {
  &.logo-dark {
    display: none;
  }
}

.sticky {
  &.listing-header-menu.sticky-pin {
    position: fixed;
    width: 100%;
    inset-block-start: 0;
    box-shadow: 0px 2px 15px 0px rgba(#000, 0.085);
    transition: all ease-in-out 0.3s;
    z-index: 999;
    .head_menu_container {
      background-color: $custom-white;
      box-shadow: 0 0 7px 5px $black-05;
    }

    .nav-link {
      color: $gray-600;
      opacity: 1;
    }

    .mobile-dark {
      display: none;
    }

    .app-sidebar .btn-outline-light {
      border-color: $black-1;
      color: $color-dark;
      &:hover {
        background-color: $black-05;
      }
    }
  }
}

@media (min-width: 992px) {
  .sticky {
    &.sticky-pin {
      .app-sidebar {
        .side-menu__label,
        .side-menu__angle {
          color: $menu-color;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: transform;
  }
}

/* Start::main-brand-header */
.main-brand-header {
  .brand-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.top-menu {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;

  .top-menu-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-link {
      color: $white;
    }
  }
}
/* End::main-brand-header */

.header-2 {
  .desktop-logo {
    &.logo-dark {
      display: block;
    }
    &.logo-color {
      display: none;
    }
  }
}
[data-theme-mode="light"] .dark-layout {
  display: none !important;
}
[data-theme-mode="dark"] .light-layout {
  display: none !important;
}
/* Start::header-2 responsive */
[data-theme-mode="light"] {
  .sticky.sticky-pin .header-2 .main-header {
    .desktop-logo.logo-color {
        display: block;
    }
    .desktop-logo.logo-dark {
        display: none;
    }
  }
}
/* End::header-2 responsive */
/* Start::header-style-01 */
.header-01 header {
  &.top-menu {
    background: $primary;
  }
  &.main-header {
    background: $custom-white;
  }
  .country-selector {
    .dropdown-toggle {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .header-link img {
      height: 33px;
      width: 33px;
      padding: 5px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
      background-color: $primary-01;
    }
  }
  .top-menu-icons {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    background-color: $white-1;
    color: $white;
  }
  .top-menu-brand {
    .border-start {
      border-inline-start-color: $white-1 !important;
    }
  }
}
/* End::header-style-01 */

/* Start::header-style-02 */
.header-02 {
  header {
    &.main-header {
      padding: 0px 1rem;
      background: $custom-white;
      border-radius: $border-radius;
      position: relative;
      top: 22px;
    }
    .desktop-logo {
      &.logo-dark {
        display: none;
      }
      &.logo-color {
        display: block;
      }
    }
  }
  @media (max-width: 991.98px) {
    .header-element {
        margin-block: .65rem;
    }
  }
}
.sticky.sticky-pin {
  .header-02 {
    background: transparent;
    box-shadow: none;
    header {
      &.main-header {
        background: $custom-white;
        box-shadow: 0 0 7px 5px $black-05;
      }
    }
  }
}
/* End::header-style-02 */

/* Start::header-style-03 */
.header-03 header {
  &.top-menu {
    background: $primary;
  }
  &.main-header {
    background: $custom-white;
  }
  &.header-center {
    background: $custom-white;
    border-bottom: 1px solid $border;
    padding: 10px 0;
    position: relative;
    z-index: 999;
    .header-inputs {
      .choices__inner {
        border: 0px;
        width: 150px;
        color: $default-text-color;
      }
      .choices[data-type*=select-one] .choices__inner {
        padding-block-end: 0 !important;
      }
      .search-btn {
        border-start-start-radius: 0px !important;
        border-end-start-radius: 0px !important;
        justify-content: center;
        align-items: center;
        display: flex;
        white-space: nowrap;
        border-radius: $border-radius;
      }
      .form-control:hover, .form-control:focus {
        border-color: $border !important;
      }
    }
    .header-icons-link {
      display: flex;
      margin-bottom: 0;
      list-style-type: none;
      justify-content: end;
      li {
        a {
          background: $primary-01;
          width: 33px;
          height: 33px;
          border-radius: 50px;
          line-height: 33px;
          margin-right: 5px;
          text-align: center;
          position: relative;
          display: block;
          i {
            font-size: 1rem;
            color: $primary;
            vertical-align: middle !important;
          }
          .main-badge1 {
            position: absolute;
            top: -9px;
            right: -4px;
            text-align: center;
            font-size: 10px;
            padding: 3px 5px;
          }
        }
      }
    }
  }
  .country-selector {
    .dropdown-toggle {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .header-link img {
      height: 33px;
      width: 33px;
      padding: 5px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
      background-color: $primary-01;
    }
  }
  .top-menu-icons {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    background-color: $white-1;
    color: $white;
  }
  .top-menu-brand {
    .header-link {
      color: $white;
    }
    .border-start {
      border-inline-start-color: $white-1 !important;
    }
  }
}
@media (max-width: 991.98px) {
  .header-03 header.main-header {
    background: transparent;
    /* height: 0; */
    padding-block: 0;
  }
  .header-03 header.header-center {
    padding-block: 0.75rem;
  }
}
/* End::header-style-03 */

/* Start::header-style-04 */
.header-04 {
  header {
    .desktop-logo {
      &.logo-dark {
        display: none;
      }
      &.logo-color {
        display: block;
      }
    }
  }
}
.sticky.sticky-pin {
  .header-04 {
    background: transparent;
    box-shadow: none;
    header {
      &.main-header {
        background: $custom-white;
        box-shadow: 0 0 7px 5px $black-05;
      }
    }
  }
}

/* End::header-style-02 */
/* End:: Header */