.holder {
    background: transparent;
    padding:0.5rem;
    overflow: hidden;
  }
  .news {
    animation : slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translatex(0%)
    }
  
    100% {
      transform: translatex(100%)
    }
  }